#################
# config.cfg

#################
# General configuration.
debug = true
# syslog = true
#
# Enable hot-reload of configuration on changes
# - does NOT work [ldap], [ldaps], [backend] or [api] sections
# watchconfig = true

#################
# Server configuration.
[ldap]
  enabled = true
  listen = "0.0.0.0:3893"

[ldaps]
# to enable ldaps genrerate a certificate, eg. with:
# openssl req -x509 -newkey rsa:4096 -keyout glauth.key -out glauth.crt -days 365 -nodes -subj '/CN=`hostname`'
  enabled = false
  listen = "0.0.0.0:3894"
  cert = "glauth.crt"
  key = "glauth.key"

#################
# The backend section controls the data store.
[backend]
  datastore = "config"
  baseDN = "dc=homelab,dc=com"

  ## Configure dn format to use structures like 
  ## "uid=serviceuser,cn=svcaccts,$BASEDN" instead of "cn=serviceuser,ou=svcaccts,$BASEDN"

[behaviors]
  IgnoreCapabilities = false
  LimitFailedBinds = true
  NumberOfFailedBinds = 3
  PeriodOfFailedBinds = 10
  BlockFailedBindsFor = 60
  PruneSourceTableEvery = 600
  PruneSourcesOlderThan = 600

#################
# The users section contains a hardcoded list of valid users.
#   to create a passSHA256:   echo -n "mysecret" | openssl dgst -sha256
[[users]]
  name = "skwig"
  uidnumber = 1000
  primarygroup = 1000
  otherGroups = [ 1001 ]
  passSHA256 = "6478579e37aff45f013e14eeb30b3cc56c72ccdc310123bcdf53e0333e3f416a" # dogood

[[users]]
  name = "search"
  uidnumber = 1100
  primarygroup = 1100
  # secret glauth-ldap-search-password
  passSHA256 = "9f6822e609ade84aa71e5bb7eea08cf0c3d9cbe1381e6864be8d20e7e5632ee4"
    [[users.capabilities]]
    action = "search"
    object = "*"
    [[users.capabilities]]
    action = "read"
    object = "*"

[[groups]]
  name = "users"
  gidnumber = 1000

[[groups]]
  name = "JellyfinUsers"
  gidnumber = 1001

[[groups]]
  name = "services"
  gidnumber = 1100

[api]
  enabled = true
  tls = false
  listen = "0.0.0.0:5555"
  cert = "cert.pem"
  key = "key.pem"
